// ================================================================================================
//
//	Partials » Header
//
// ================================================================================================

$header-height: 60px;
$header-background: $color-primary;

// ================================================================================================
//	Header classes
// ================================================================================================

.header {
	height: $header-height;
	background: $header-background;
}

.header-container {
	@extend .column-row;
	height: 100%;
	padding: 13px 0 0 0;
}

// ================================================================================================
//	Logo
// ================================================================================================

.logo {
	display: inline-block;
	font-size: flex(22px);

	a {
		color: white;
	}
}

// ================================================================================================
//	Menu
// ================================================================================================

.menu {
	display: inline-block;
	@include list-nostyle;
	margin-left: $global-margin * 2;

	.menu-item {
		@include inline-block;
		margin-right: $global-margin / 2;
	}

	.menu-item a {
		color: white(.6);

		&:hover {
			color: white(1);
		}
	}
}
