<header class="header">
	<div class="header-container">
		<div class="logo">
			<%= link_to 'Promises', '/index.html' %>
		</div>
		<ul class="menu">
			<li class="menu-item">
				<%= link_to 'Introdução', '/introducao.html' %>
			</li>
			<li class="menu-item">
				<%= link_to 'Implementações', '/implementacoes.html' %>
			</li>
		</ul>
	</div>
</header>
