<header class="header">
	<div class="header-container">
		<div class="logo">
			<a href="/" title="Voltar para página inicial">Promises</a>
		</div>
		<ul class="menu">
			<li class="menu-item">
				<a href="/introducao">Introdução</a>
			</li>
			<li class="menu-item">
				<a href="/implementacoes">Implementações</a>
			</li>
		</ul>
	</div>
</header>
