---
title: Implementações
---

<aside class="navigation">
	<ul>
		<li class="static">Implementando Promises</li>
		<li><a href="#promises">Promises</a></li>
		<li><a href="#q">Q</a></li>
		<li><a href="#when">When</a></li>
		<li><a href="#rsvp.js">rsvp.js</a></li>
		<li><a href="#vow">Vow</a></li>
	</ul>
</aside>

<section class="content">
<%= partial 'docs/implementations' %>
</section>
