---
title: Home
---

<div class="masthead">
	<img src="images/symbol.svg" alt="Promise Symbol">
	<h1>Promises</h1>
	<p>O objetivo deste site é introduzir o conceito de Promises em Javascript e prover recursos úteis para pessoas aprenderem sobre isto.</p>
	<%= link_to 'Ir para a Introdução', '/promiseJS.br/introducao', :class => 'btn btn-primary btn-large' %>
</div>
