---
title: Introdução
---

<aside class="navigation">
	<ul>
		<li class="static">Introdução a Promises</li>
		<li><a href="#motivacao">Motivação</a></li>
		<li><a href="#uso-basico">Uso Básico</a></li>
		<li><a href="#transformacao">Transformação</a></li>
		<li><a href="#combinacao">Combinação</a></li>
	</ul>
</aside>

<section class="content">
<%= partial 'docs/introduction' %>
</section>
