---
title: Introdução | Promise JS
---

<aside class="navigation">
	<ul>
		<li class="static">Introdução a Promises</li>
		<li><a href="#">Motivação</a></li>
		<li><a href="#">Uso Básico</a></li>
		<li><a href="#">Transformação</a></li>
		<li><a href="#">Combinação</a></li>
		<li><a href="#">Implementação/Downloads</a></li>
	</ul>
</aside>

<section class="content">
<%= partial 'docs/introduction' %>
</section>
